<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml
					/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
	</context-param>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- <welcome-file-list> <welcome-file>default.jsp</welcome-file> </welcome-file-list> -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/403</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error/401</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error/406</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/error/407</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error/408</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/error/409</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error/410</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error/415</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error/501</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error/505</location>
	</error-page>
</web-app>